sudo: required
language: python

services:
  - docker

python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "nightly" # currently points to 3.6-dev
# command to install dependencies
install: "pip install -r requirements-test.txt"

#before_install:
#- docker build -t test -f Dockerfile.test .
#- docker run --privileged -ti test py.test

# command to run tests
script:
	- docker version
	- which py.test
