sudo: required
language: python

services:
  - docker

env:
  global:
    - DOCKER_VERSION=1.10.1-0~trusty

python:
  - "2.7"

before_install:  
    # list docker-engine versions
    - apt-cache madison docker-engine

    # upgrade docker-engine to specific version
    - sudo apt-get -o Dpkg::Options::="--force-confnew" install -y docker-engine=${DOCKER_VERSION}

# command to install dependencies
#install: "pip install -r requirements-test.txt; sudo pip install -r requirements-test.txt"
install: "sudo pip install -r requirements-test.txt"

# command to run tests
script:
- docker version
- sudo -E `which py.test`
