<html>
<head>
<link rel="stylesheet" media="screen"
	href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="body">
	<div class="container">
		<h2>CloudSight Diff Report Tool</h2>
		<hr>
		<form id="diff_form">
			<div class="form-group col-sm-4">
				<label for="startDatetime">Start date and time</label> <input
					type="datetime-local" class="form-control" id="startDatetime">
			</div>
			<div class="form-group col-sm-4">
				<label for="endDatetime">End date and time</label> <input
					type="datetime-local" class="form-control" id="endDatetime">
			</div>
			<div class="form-group col-sm-4">
				<label for="features">Desired crawler features</label> <select
					multiple class="form-control" id="features"> {% for f in
					features: %}
					<option>{{ f }}</option> {% endfor %}
				</select>
			</div>
			<div class="form-group col-sm-12">
				<label for="namespace">Target namespace</label> <select
					class="form-control" id="namespace"> {% for n in
					namespaces: %}
					<option>{{ n }}</option> {% endfor %}
				</select>
			</div>
			<div class="container">
				<button type="button" class="btn btn-primary" onclick="getDiffDigest()">Get report</button>
			</div>
		</form>
	</div>
	<div class="container" id="diff_report">
<!--		<h3 class="text-center">
			<small>NEW OBJECTS</small>
		</h3>
	<br>
		<div class="container" style="border: 1px #e4e4e4 solid;">
			<h3>
				<small>NEW PROCESSES</small>
			</h3>
			<br>
 			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Version</th>
						<th>Size</th>
				<tbody>
					<tr>
						<td>my package</td>
						<td>1.0.0.</td>
						<td>450</td>
					<tr>
						<td>my package2</td>
						<td>2.0.0.</td>
						<td>450</td>
				</tbody>
			</table> 
		</div>
		<br>
		<h3 class="text-center">
			<small>REMOVED OBJECTS</small>
		</h3>
		<br>
		<h3 class="text-center">
			<small>MODIFIED OBJECTS</small>
		</h3>
		<br> -->
	</div>
</body>
<script type="text/javascript">

function getSelections(sel) {
    var features = [], f;
    
    for (var i=0, len=sel.options.length; i<len; i++) {
        f = sel.options[i];
        if ( f.selected ) {
            features.push(f.value);
        }
    }
    
    return features;
}

function createGroupHeader(group, group_header) {
	var report_container = document.getElementById("diff_report");
	var h3 = document.createElement("h3");
	var small = document.createElement("small");
	var container = document.createElement("div");
	
	h3.setAttribute("class", "text-center");
	small.innerHTML = group_header
	h3.appendChild(small);
	report_container.appendChild(h3);
	report_container.appendChild(document.createElement("br"));
	
	container.setAttribute("class", "container"); 
	container.setAttribute("style", "border: 1px #e4e4e4 solid;");
	container.setAttribute("id", group)
	report_container.appendChild(container);
}

function createGroupFooter(group) {
	var report_container = document.getElementById("diff_report");
	report_container.appendChild(document.createElement("br"));
	report_container.appendChild(document.createElement("br"));
}

function appendFeatureTable(feature, html_feature_table) {
	//var html_header = "<h4><small>" + feature.toUpperCase() + " LIST" + "</small></h4><br>";
	var html_header = "<h4><small>Type: " + feature.toUpperCase() + "</small></h4><br>";
	var html_footer = "<br><br>"
    return html_header + html_feature_table + html_footer;
}

function insert_group_feature_tables(group, tables_html) {
	var group_container = document.getElementById(group);
	group_container.innerHTML = tables_html;
}

function clear_tables() {
	document.getElementById("diff_report").innerHTML = "";
}

function getDiffDigest() {
	var form = document.getElementById("diff_form");
	
	var begin_time = new Date(form.elements[0].value);
	begin_time.setTime(begin_time.getTime() + (begin_time.getTimezoneOffset() * 60000));
	
	var end_time = new Date(form.elements[1].value);
	end_time.setTime(end_time.getTime() + (end_time.getTimezoneOffset() * 60000));
	
	var features = getSelections(form.elements[2]);
	var namespace = getSelections(form.elements[3])[0];
	
	var added_objects = "", removed_objects = "", modified_objects = "", url;
	
	console.log(begin_time);
	console.log(end_time);
	console.log(features);
	
	if (isNaN(begin_time) || isNaN(end_time) ) {
		alert("Invalid time interval!");
		return;
	}
	
	url = "config/frame/diff_report" + "?namespace=" + namespace + 
			                           "&begin_time=" + begin_time.toISOString().replace(":00.000", "") +
			                           "&end_time=" + end_time.toISOString().replace(":00.000", "");
			                           
	if (features.length > 0) {
		url += "&features=" + features.join();
	} else {
		url += "&features=process,package";
	}
	
	$.ajax({url: url, type: 'GET', dataType: 'json', success: function(data) {
		var html_appended_feature_tables, group_header;
		clear_tables();
		for (var group in data) {
			if (Object.keys(data[group]).length > 0) {
				html_appended_feature_tables = "";
				group_header = group.toUpperCase() + " ELEMENTS" ;
				createGroupHeader(group, group_header);
				for (var feature in data[group]) {
					html_feature_table = data[group][feature]; 
					html_appended_feature_tables += appendFeatureTable(feature, html_feature_table);
				}
				insert_group_feature_tables(group, html_appended_feature_tables);
				createGroupFooter();
			}
		}
  	}});
}
</script>
</html>