<!doctype html>
<html ng-app="Timemachine">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CloudSight Timemachine</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/timemachine.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animations.css') }}">
</head>

<body>
    <div class="container-fluid" >
        <div class="row">
            <div ui-view="categories"></div>
            <div class="col-sm-12 col-md-12 main" ui-view="summary"></div>
            <div class="col-sm-12 col-md-12 main" ui-view="timeline"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/lodash/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-ui-router/release/angular-ui-router.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-smart-table/dist/smart-table.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/checklist-model/checklist-model.js') }}"></script>

    <!-- angular-strap begin -->
    <script src="{{ url_for('static', filename='bower_components/angular-strap/dist/angular-strap.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-strap/dist/angular-strap.tpl.js') }}"></script>
    <!-- angular-strap end -->

    <script src="{{ url_for('static', filename='app/app.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/bookmarks/bookmarks.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/namespaces/namespaces.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/categories.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/bookmarks/create/bookmarks-create.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/bookmarks/find/bookmarks-find.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/bookmarks/summary.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/bookmarks/timeline.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/namespaces/summary.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/namespaces/timeline.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/overview/summary/summary.js') }}"></script>
    <script src="{{ url_for('static', filename='app/categories/overview/timeline/timeline.js') }}"></script>
    <script src="{{ url_for('static', filename='app/common/models/overview-summary-model.js') }}"></script>
    <script src="{{ url_for('static', filename='app/common/models/overview-timeline-model.js') }}"></script>
    <script src="{{ url_for('static', filename='app/common/models/bookmarks-model.js') }}"></script>
    <script src="{{ url_for('static', filename='app/common/models/namespaces-model.js') }}"></script>
    <script src="{{ url_for('static', filename='app/common/models/bookmarks-options-model.js') }}"></script>
    <script src="{{ url_for('static', filename='app/common/models/categories-model.js') }}"></script>
</body>
</html>
