.last_rev
*.gem
*.rbc
vendor/bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
config/client_gems
config/sentinel.yml
tmp/
test/tmp
test/version_tmp
*.sublime-*
.vagrant
kafka-python
public/docs/report.html
public/docs/status.html

