
<div class="parent">
    <div class="bookmark_summary">
        <table class="table table-striped table-summary">
            <tr>
                <th>Summary</td>
                <th></td>
            </tr>
            <tbody>
            <tr><td>Total</td><td>{{bookmarksSummaryCtrl.summary.total}}</td>
            </tr>
            <tr><td>Last Week</td>
                <td>{{bookmarksSummaryCtrl.summary.last_week}}</td>
            </tr>
            <tr>
                <td>Last Day</td>
                <td>{{bookmarksSummaryCtrl.summary.last_day}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="bookmark_controls">
        <div>
            <form role="form" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" id="addBookmarkTags" ng-model="bookmarksSummaryCtrl.newBookmark.tags" placeholder="Enter tags separated by commas">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="addBookmarkNamespaces" ng-model="bookmarksSummaryCtrl.newBookmark.namespaces" placeholder="Enter namespaces separated by commas">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="addBookmarkTimestamp" ng-model="bookmarksSummaryCtrl.newBookmark.timestamp" placeholder="Enter timestamp: 2015-03-09T21:50:50.000Z">
                </div>
                <button type="button" class="btn btn-info" ng-click="bookmarksSummaryCtrl.findBookmarks(bookmarksSummaryCtrl.newBookmark)">Find</button>
                <button type="button" class="btn btn-info" ng-click="bookmarksSummaryCtrl.addBookmark(bookmarksSummaryCtrl.newBookmark)">Add</button>
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="bookmarksSummaryCtrl.cancelDisplay()">Clear</button>
            </form>
        </div>
    </div>
</div>
<div ng-if="bookmarksSummaryCtrl.bookmarks.length !== 0 && bookmarksSummaryCtrl.display_bookmarks">
    <table st-table="bookmarksSummaryCtrl.displayedBookmarks" st-safe-src="bookmarksSummaryCtrl.bookmarks" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th colspan="3"><input st-search="" class="form-control" placeholder="type to search with in the displayed bookmarks" type="text"/></th>
            <th> <button type="button" class="btn btn-info" ng-disabled="bookmarksSummaryCtrl.disableDiff" ng-model="bookmarksSummaryCtrl.disableDiff" ng-click="bookmarksSummaryCtrl.diffBookmarks()" >
                Diff
            </button></th>
        </tr>
        <tr>
            <!--
            <th st-ratio="50" >Namespaces</th>
            <th st-ratio="50">Tags</th>
            -->
            <th class="check_column"></th>
            <th>Namespaces</th>
            <th>Tags</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in bookmarksSummaryCtrl.displayedBookmarks">
            <td class="check_column"> <input type="checkbox" checklist-model="bookmarksSummaryCtrl.selectedBookmarkList" checklist-value="row" checklist-change="bookmarksSummaryCtrl.listChanged()"> </input></td>
            <td>{{row.namespaces}}</td>
            <td>{{row.tags}}</td>
            <td>{{row.timestamp}}</td>
            <td class="delete_column">
                <button type="button" ng-click="bookmarksSummaryCtrl.deleteBookmark(row)" class="btn btn-xs btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<div ng-if="bookmarksSummaryCtrl.display_diff_results">
    <table st-table="bookmarksSummaryCtrl.diff_results" class="table table-striped table-condensed">
        <thead>
        <tr>
            <th>Change</th>
            <th>Feature Type</th>
            <th>Feature</th>
        </tr>
        <tr>
            <th colspan="3"><input st-search="" class="form-control" placeholder="type to search with in the displayed ..." type="text"/></th>
            <th> <button type="button" class="btn btn-info" ng-disabled="bookmarksSummaryCtrl.disableDiff" ng-model="bookmarksSummaryCtrl.disableDiff" ng-click="bookmarksSummaryCtrl.diffBookmarks()" >
                Diff
            </button></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in bookmarksSummaryCtrl.diff_results">
            <td>{{row.change}}</td>
            <td>{{row.feature_type}}</td>
            <td>{{row.data}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

