body { background-color: white }

nav.navbar {
    background-color: #001d35;
    border-color: #e7e7e7;
    position: relative;
    min-height: 50px;
    display: block;
}

nav.navbar .navbar-brand {
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    outline: 0;
    float: left;
    padding: 15px 15px;
    line-height: 20px;
    height: 50px;
    text-decoration: none;
    padding-left: 10px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
nav.navbar .navbar-brand:hover { color: white }

nav.navbar .navbar-brand + .navbar-brand {
    padding-left: 0;
}

.service-brand { font-weight: 700; }
nav.navbar .ibm-sm-logo {
    background: url("http://www.ibm.com/i/v17/t/ibm-logo.png") no-repeat scroll 0 -100px rgba(0, 0, 0, 0);
    text-indent: -999em;
    height: 5px;
    margin-top: 10px;
    width: 50px;

}

nav.navbar .centered-wrapper .ibm-sm-logo {
    padding: 15px 0;
    background-position: -10px -100px;
}

ul.navbar-top-links {
    float: right !important;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

ul.navbar-top-links > li {
    margin: 0px 10px;
    display: inline-block;
    position: relative;
}

ul.navbar-top-links > li > a {
    color: #7c93a3;
    letter-spacing: 0.06em;
    font-size: 12px;
    text-transform: uppercase;
    background-color: transparent;
    padding: 21px 0 0 0;
    height: 50px;
    position: relative;
    display: block;
    background: transparent;
    text-decoration: none
}
.nav > li > a:hover, .nav > li > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{ background-color: transparent; color: white }

ul.navbar-top-links > li.active > a {
    border-bottom: 4px solid #00b4ea;
    color: white !important;
}

ul.navbar-top-links > li > a:hover {
    color: white;
}

.centered-wrapper {
    max-width: 960px;
    margin: 0 auto;
}
