.no-sort::after {
			display: none !important;
}

table.display tbody tr td:first-child.checkvm {
    text-align: center !important;
}

div.dataTables_scrollFoot{
	height: 0px;
}

.error_div_h{
	height: 54px;
}

		
