table.ibm-data-table tbody td:nth-child(7) {
    cursor: pointer; 
}

table.ibm-data-table tbody td:nth-child(7):hover {
    color: #008abf;
}

table.ibm-data-table tbody td:nth-child(8) {
    cursor: pointer; 
}


table.ibm-data-table tbody td:nth-child(8):hover {
    color: #008abf;
}
