

body {
	background-color: #CDCDCD;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.65em;
}

.NoteText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.05em;
}

.roundTable {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	text-align: center;
	border-collapse: collapse;
}

.roundTable  th.rounded-left {
	background: #b9c9fe
		url("../img/left.png")
		left -1px no-repeat;
}

.roundTable  th.rounded-right {
	background: #b9c9fe
		url("../img/right.png")
		right -1px no-repeat;
}

.roundTable th {
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
	padding: 8px;
}

.roundTable td {
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
	padding: 8px;
}

.roundTable td.rounded-foot-left {
	background: #e8edff
		url("../img/botleft.png")
		left bottom no-repeat;
}

.roundTable td.rounded-foot-right {
	background: #e8edff
		url("../img/botright.png")
		right bottom no-repeat;
}

.roundTable tbody tr:hover td {
	background: #d0dafd;
}



.roundTable-left {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	text-align: left;
	border-collapse: collapse;

}

.roundTable-left  th.rounded-left {
	background: #b9c9fe
		url("../img/left.png")
		left -1px no-repeat;
}

.roundTable-left  th.rounded-right {
	background: #b9c9fe
		url("../img/right.png")
		right -1px no-repeat;
}

.roundTable-left th {
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
	padding: 8px;
}

.roundTable-left td {
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
	padding: 8px;
}

.roundTable-left td.rounded-foot-left {
	background: #e8edff
		url("../img/botleft.png")
		left bottom no-repeat;
}

.roundTable-left td.rounded-foot-right {
	background: #e8edff
		url("../img/botright.png")
		right bottom no-repeat;
}

.roundTable-left tbody tr:hover td {
	background: #d0dafd;
}

#conteneur {
	background-color: #fafafa;
	margin: 1em 10%;
	min-width: 60em;
	position: absolute;
	width: 80%;
}


#header {
	background-color: #3882C7;
	border: 1px solid #fafafa;
	color: #fafafa;
	font-size: 2em;
	height: 2.5em;
	padding-left: 1em;
	padding-top: 1em;
}


.nextButton {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 15px;
	background: #a1d8f0;
	background: -moz-linear-gradient(top, #badff3, #3882C7);
	background: -webkit-gradient(linear, left top, left bottom, from(#badff3),
		to(#3882C7));
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
	border: 1px solid #7db0cc !important;
	cursor: pointer;
	font: bold 11px/14px Verdana, Tahomma, Geneva;
	text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0px;
	color: #fff;
	float: center;
	padding: 7px 21px;
}

.backButton {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 15px;
	background: #a1d8f0;
	background: -moz-linear-gradient(top, #badff3, #3882C7);
	background: -webkit-gradient(linear, left top, left bottom, from(#badff3),
		to(#3882C7));
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
	border: 1px solid #7db0cc !important;
	cursor: pointer;
	font: bold 11px/14px Verdana, Tahomma, Geneva;
	text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0px;
	color: #fff;
	float: center;
	padding: 7px 21px;
}


.btnClass {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 15px;
	background: #a1d8f0;
	background: -moz-linear-gradient(top, #badff3, #3882C7);
	background: -webkit-gradient(linear, left top, left bottom, from(#badff3),
		to(#3882C7));
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
	border: 1px solid #7db0cc !important;
	cursor: pointer;
	font: bold 11px/14px Verdana, Tahomma, Geneva;
	text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0px;
	color: #fff;
	float: center;
	padding: 7px 21px;
}