
.navbar-default {
    background-color: #001d35;
    border-color: #e7e7e7;
}

.navbar-default .nav > li > a{
	color:#B0C4DE;
}

.nav > li > a:hover, .nav > li > a:focus, .nav .active > a{
	background-color: transparent;
	color:#fff !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: transparent;
}

.nav p{
    color:#fff;
}

body{
	font-weight: 300;
    background-color: #001d35;
}

.userid{
	text-transform: lowercase !important;
	color: #b3b3b3 !important;
}

.navbar-top-links .active {
    /*border-bottom: 4px solid #00b4ea;*/
    color:#fff;
}

#page-wrapper {
    background-color: #efeff1;
}

.top-buffer {
	padding-top: 40px;
}

.panel-description {
	font-size: 20px;
	font-weight: 500;
}

.menu-context{
	text-transform: uppercase;
	background-color: black;
}
.nav> li> span {
position: relative;
display: block;
padding: 10px 15px;
color:#b3b3b3;

}

.service-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand{
	color: #fff;
	font-weight: 200;
	font-size: 14px;
}
.sidebar{
	/*margin-top: 50px;*/
}

.sidebar ul li {
    border-bottom: 0px;
}

.panel-red .panel-heading {
    background-color: #d9182d;
    border-color: #d9182d;
    color: #fff;
}

.ibm-sm-logo {
    background: url("http://www.ibm.com/i/v17/t/ibm-logo.png") no-repeat scroll 0 -100px rgba(0, 0, 0, 0);
    text-indent: -999em;
    height: 30px;
    margin-top: 10px;
    width: 50px;
}

.full-width{
	margin: 0px !important;
}

.status-title{
	font-size: 16px;
}
.status-state{
	font-size:14px;
}
.status-description{
	font-size:12px;
	color: #ccc;
}
.status-item{
	background-color: #fff;
}
table > caption > em {
    font-style: normal;
    font-weight: bold;
}

table > caption {
    text-align: left;
    padding: 10px 0px;
}

.table > thead > tr > th {
    border-top: 1px solid #cccccc !important;
    border-bottom: 0px;
}

table.ibm-data-table tbody th, table.ibm-data-table tbody td {
    border-left: 3px solid transparent;
    padding: 8px 5px 5px 3px;
}

table.ibm-data-table tbody td.fail {
    color: #ff3333;
    background-color: #ffcccc;
}

li.menu-context a {
	color: #fff !important;
}

li.menu-context a span {
	color: #fff !important;
	float: right;
}

.navbar-top-links > li{
    margin:0px 10px;
}

.navbar-top-links li.active a{
    border-bottom: 4px solid #00b4ea;
    box-sizing: border-box;
    color: white;
}

.navbar-top-links li a {
    padding: 15px 0px;
}

.sidebar ul li a.active {
    background-color: #00648D ;
    color:#fff;
}

a, a:hover, a:active, a:focus {
   outline: 0;
}

.group-title {
    background-color: #336699;
    border: 2px solid #3333cc;
    color: #fff;
}


/******** For tree view */

.tree {
    height: 600px;
    overflow: scroll;
}

.tree ul {
    padding: 0;
    margin: 0 0 20px 15px;
}

.tree li {
    margin: 0px 0;
    
    list-style-type: none;
    position: relative;
    padding: 10px 5px 0px 5px;
}

.tree li::before{
    content: '';
    position: absolute; 
    top: 0;
    width: 1px; 
    height: 100%;
    right: auto; 
    left: -10px;
    border-left: 1px solid #ccc;
    bottom: 50px;
}
.tree li::after{
    content: '';
    position: absolute; 
    top: 30px; 
    width: 15px; 
    height: 20px;
    right: auto; 
    left: -10px;
    border-top: 1px solid #ccc;
}
.tree li a{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/*Remove connectors before root*/
.tree > ul > li::before, .tree > ul > li::after{
    border: 0;
}
/*Remove connectors after last child*/
.tree li:last-child::before{ 
      height: 30px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #ccc; 
    color: #000; 
    border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}

.tree .active{
    background: #fff; 
    color: #000; 
    border: 1px solid #94a0b4;
}

.badge {
    background-color: #C0C0C0;
}

.badge-edit:hover {
    background-color: #228B22;
}

.badge-delete:hover {
    background-color: #FF6347;
}

.assign-select {
    width: 200px;
}



.dl-horizontal.user dt {
    text-align: left;
    width:100px;
}

.dl-horizontal.user dd {
    margin-left: 120px;
}