cloudsight:
  broker_host: '<<BROKER_HOST>>'
  broker_port: <<BROKER_PORT>>
  
namespace_prefix:
  tenant_id: 'softlayer_tenant_id'
  system_prefix: 'cloudsight-A'

log_crawler:
  batch: true
  batch_events: 50
  batch_timeout: 5
  format: 'message'
  replay: true

log_files:
- 
  path: '/var/log/cloudsight/*'
  type: '<<TYPE>>'
  namespace_system_suffix: ''
